.chat-box {
    width: 30%;
    height: 80%;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;
    place-items: center;
}

.chat-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 0.5rem;
    background-color: blue;
}

.header-left {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    place-items: center;
    background-color: #b8f1ff;
}

.header-right {
    background-color: #e9ecf7;
}

#message-container {
    background-color: #9FFF36;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* align right */
    overflow: scroll;
}

.message {
    max-width: 50%;
    height: fit-content;
    overflow-wrap: break-word;
    border-radius: 10px;
    background-color: bisque;
    color: black;
    padding: 1rem;
    margin: 0.25rem 0 0.25rem;
    /*align-self: flex-start;*/
}

.text-input {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #b3bdd3;
    place-items: center;
    justify-content: space-evenly;
}

.text-input input {
    text-align: left;
}

.text-input i {
    cursor: pointer;
}