@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sofia&family=Style+Script&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
}

body {
    width: 100vw;
    height: 100svh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

h2 {
    font-family: "Style Script", cursive;
    font-size: 3rem;
}

h4 {
    /*font-family: "Raleway", sans-serif;*/
    font-size: 20px;
}

/*p, a, label {*/
/*    font-family: "Quicksand", sans-serif;*/
/*    !*font-family: "Marhey", sans-serif;*!*/
/*}*/

a {
    text-decoration: none;
    cursor: pointer;
}

p a {
    cursor: pointer;
}

.label, label {
    color: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    margin-bottom: 0.5rem;
}

input {
    padding: 0.3rem 0.3rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus{
    outline: none; /* Disable the default blue border */
}

#theme-container {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    background-color: white;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    place-items: center;
    place-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 1rem;
    cursor: pointer;
}

.fa-lightbulb, .fa-moon {
    color: black;
    font-size: 1.5rem;
    /*cursor: pointer;*/
}

.fa-moon {
    display: none !important;
}