header {
    /* size */
    width: 100%;
    height: 10%;

    /* position */
    position: absolute;
    top: 0;
    left: 0;

    /* layout */
    display: flex;
    justify-content: space-between;
    place-items: center;

    /* color */
    background-color: black;

}
header a {
    color:red;
}