header {
    /* size */
    width: 100%;
    height: 10%;

    /* position */
    position: absolute;
    top: 0;
    left: 0;

    /* layout */
    display: flex;
    justify-content: space-between;
    place-items: center;

    /* color */
    background-color: black;

}
header a {
    color:red;
}

header div {
    background-color: blue;
    height: 100%;
    width: fit-content;
    margin-left: 1.5rem;
}

header div a img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

header a i {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}