body {
    background-color: #4059e3;
}

h2 {
    color: rgba(0, 0, 0, 0.75);
}

.label {
    color: rgba(0, 0, 0, 0.3);
    margin: 1rem 0 0.5rem;
}

.remember-forget label {
    color: rgba(0, 0, 0, 0.3);
}

.label,
.remember-forget label,
.remember-forget a {
    font-size: 12px;
}

#sign-up-container {
    /* size */
    width: 65%;
    height: 80%;

    /* layout */
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;

    /* appearance */
    background-color: white;
    border-radius: 10px;
    /*box-shadow: white 0 0 1rem;*/

    color: black;
}

.col-size {
    /* size */
    width: 55%;
    height: 80%;
    position: relative;
}

#sign-up-left {
    /*background-color: green;*/
    justify-content: space-between;
    padding: 1rem;
}

#sign-up-right {
    /*background-color: red;*/
}

#sign-up-left, #sign-up-right {
    display: flex;
    flex-direction: column;
    /*place-items: start;*/
}

#sign-up-left div {
    width: 100%;
    height: fit-content;
}

#sign-up-left form {
    width: 100%;
    height: 50%;
    place-content: space-evenly;
    /*height: 100%;*/
    /*background-color: orange;*/
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
    place-items: start;
}

.logo {
    place-items: center;
    /*height: 20px;*/
    /*background-color: purple;*/
}

.logo img {
    height: 40px;
    width: auto;
    object-fit: contain;
}

.remember-forget {
    /* size */
    width: 100%;
    height: 100%;
    /*background-color: yellow;*/

    /* layout */
    /*display: flex;*/
    justify-content: space-between;
    place-items: center;
    margin-top: 1rem;
}

.remember-forget label {
    cursor: pointer;
    position: relative;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

form input[type="checkbox"] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.c1 {
    position: absolute;
    top: 4.5px;
    left: 2.5px;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: white;
}

form input[type="checkbox"]:checked {
    background-color: #4059e3;
}

form input[type="submit"] {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #3951d2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1rem 2rem;
    transition: 0.3s;
}

form input[type="submit"]:hover {
    color: #3951d2;
    background-color: white;
}

.center {
    place-self: center;
    /*background-color: purple;*/
}

.center {
    color: rgba(0, 0, 0, 0.7);
}

.center, .center a {
    font-size: 13px;
}

.help-links {
    /*width: 100%;*/
    /*background-color: #b3bdd3;*/
    place-content: center;
}

.help-links p, .help-links p a {
    color: rgba(0, 0, 0, 0.5);
}

#sign-up-right {
    width: 80%;
}

#sign-up-right h4 {
    margin-bottom: 1rem;
}

.second {
    margin-top: 1.25rem;
}

.about-link {
    margin-top: 0.5rem;
}

#sign-up-right ul {
    margin-left: 1.5rem;
}

#sign-up-right ul li {
    margin-bottom: 0.5rem;
}