.svg-container {
    width: 105%;
    height: 100%;
    position: absolute;
    top: -50px;
    z-index: -1;
}

.svg-container svg {
    height: auto;
    width: 100%;
    object-fit: contain;
}

/*.svg-container {*/
/*    animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;*/
/*    -webkit-animation: wave 15s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;*/
/*}*/

/*.svg-container:nth-of-type(2) {*/
/*    top: -175px;*/
/*    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;*/
/*    -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;*/
/*}*/

/*@keyframes wave {*/
/*    0% {*/
/*        margin-left: 0;*/
/*    }*/
/*    100% {*/
/*        margin-left: -1600px;*/
/*    }*/
/*}*/

/*@-webkit-keyframes wave {*/
/*    0% {*/
/*        margin-left: 0;*/
/*    }*/
/*    100% {*/
/*        margin-left: -1600px;*/
/*    }*/
/*}*/

/*@keyframes swell {*/
/*    0%,*/
/*    100% {*/
/*        transform: translate3d(0, -25px, 0);*/
/*    }*/
/*    50% {*/
/*        transform: translate3d(0, 5px, 0);*/
/*    }*/
/*}*/

/*@-webkit-keyframes swell {*/
/*    0%,*/
/*    100% {*/
/*        transform: translate3d(0, -25px, 0);*/
/*    }*/
/*    50% {*/
/*        transform: translate3d(0, 5px, 0);*/
/*    }*/
/*}*/